<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="persona.nombre" placeholder="Nombre">
        <input type="text" v-model="persona.apellido" placeholder="Apellido">
        <input type="number" v-model="persona.edad">
        <button @click="guardarItem()">Agregar</button>
        <button @click="restablecer()">Restablecer</button>
        <hr>
        <ul>
            <li v-for="(itm, index) in items" :key="index">
                <span>#{{index}} {{itm.nombre}} {{itm.apellido}} {{itm.edad}}</span>
                <button @click="eliminarItem(itm._id)">Eliminar</button>
                <button @click="editarItem(itm)">Editar</button>
            </li>
        </ul>
    </div>
    <script src="personas.service.js"></script>
    <script src="app.js"></script>
</body>
</html>