<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <input type="text" v-model="item">
        <button @click="agregarItem()">Agregar</button>
        <hr>
        <ul>
            <li v-for="(elemento, indice) in lista" :key="indice">
                <span v-bind:class="elemento.completado ? 'completado' : ''">{{elemento.item}} - {{indice}}</span>
                <button @click="completarItem(indice)" v-bind:disabled="elemento.completado">Completar</button>
                <button @click="eliminarItem(indice)">Eliminar</button>
                <button @click="editarItem(indice)">Editar</button>
            </li>
        </ul>
    </div>
    <script src="app.js"></script>
</body>
</html>